<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="Rehab Nexus is a cutting edge addiction treatment facility located in Coral Springs, FL.">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/style.css">

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        

        <title>Rehab Nexus</title>
        
    </head>
    
    <body>
        
        <header class="container-fluid">
                <div class="col-md-6 col-lg-6">
                  <a class="navbar-brand" href="https://rehab-nexus.herokuapp.com/"><img class="img-responsive" src="http://res.cloudinary.com/dufe2o4do/image/upload/v1468198864/rehab-nexus_small_trim_djlu9y.jpg" alt="Logo" class="logo"></a>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="col-md-8">
                        <ul class="contact-info">
                            <li><p><strong>Call Us 24/7</strong></p></li>
                            <li><p><strong><a href="tel:+1-888-327-3422">(888) 32-REHAB</a></strong></p></li>
                            <li><p><strong><a href="tel:+1-888-327-3422">(888) 327-3422</a></strong></p></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="tools-ringme-ringmeLink" onclick='var wind = window; var winop = wind.open; winop("https://service.ringcentral.com/ringme/?uc=B5EFCA03358D3BD3374E22C4FE2F83E71821948898020,0,,1,0&s=no&v=2&s_=1210", "Callback_RingMe", "resizable=no,width=650,height=460"); return false;'><img class="btn-call" border="0" src="http://netstorage.ringcentral.com/ringme/images/ringme_6_6_5.png"/></div>
                    </div>
                </div>
        </header>
        
        <section class="section-about container-fluid" id="about">
            <div class="col-md-6 col-lg-6">
                <p class="long-copy"><strong>Who Are We?</strong></p>
                <p class="long-copy">Rehab Nexus is a cutting edge addiction treatment facility located in Coral Springs, FL.</p>
                <p class="long-copy"><strong>Why Rehab Nexus?</strong></p>
                <p class="long-copy">Rehab Nexus is NOT the same old rehab. We focus on helping our patients create an empowering identity, kick their habit, and change their lives.</p>
                <p class="long-copy"><strong>How Does it Work?</strong></p>
                <p class="long-copy">Our core emphasis is the power of positivy! A holistic curriculum where patients will replace doubt with believing in themselves through the following:</p>
                    <ul class="how-it-works">
                        <li class="bullet"><p>Shatter Patients Limiting Beliefs</p></li>
                        <li class="bullet"><p>Tools to Crush Negative Thoughts</p></li>
                        <li class="bullet"><p>Create an Empowering Identity</p></li>
                        <li class="bullet"><p>Electrifying Classes Focused on Building Self Confidence</p></li>
                        <li class="bullet"><p>Medical, Behavioral and Nutritional Specialists</p></li>
                        <li class="bullet"><p>Unique, Fun &amp; Caring Support Groups</p></li>
                        <li class="bullet"><p>Job Skills Training</p></li>
                        <li class="bullet"><p>Affordable Quality Housing Options</p></li>
                    </ul>
                <p class="long-copy"><strong>How Do I Pay?</strong></p>
                <p class="long-copy">We accept most insurance policies. Please contact us 24/7 for more details.</p>
                <p class="long-copy"><strong>Who Can Attend?</strong></p>
                <p class="long-copy">You must be at least 18 years old or older to attend.</p>
            </div>
            
            <div class="col-md-6 col-lg-6">

                <div class="row">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                            <h3><strong>Expedited Contact Form</strong></h3>
                            <p>Please complete this form and an Admissions Specialist will contact you immediately for a confidential discussion on how we can help you or a friend.</p>
                            </div>
                        </div>
                        <form class="form-horizontal" action="/submit" method="post">
                            <div class="form-group">
                                <label for="exampleInputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="phone" class="form-control" id="exampleInputPhone" name="phone" placeholder="Your Phone Number" required>
                                </div>
                            </div>

                                <div class="form-group">
                                    <label for="exampleInputMessage" class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" rows="2" id="exampleInputMessage" name ="message" placeholder="Your Message (optional)"></textarea>
                                        <input type="hidden" name="affiliateID" value="<%= affiliateID %>">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <button class="btn btn-full btn-lg" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
                <div class="row">
                    <div class="embed-responsive embed-responsive-4by3 rehab-nexus-video">
                        <!--iframe class="embed-responsive-item" width="400" height="233" src="https://www.youtube.com/embed/ua3-MdRziMo" frameborder="0" allowfullscreen></iframe-->
                        <iframe class="embed-responsive" src="https://player.vimeo.com/video/174324617?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/174324617">Rehab Nexus: Break Free From Your Addictions</a> from <a href="https://vimeo.com/rehabnexus">Rehab Nexus</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                </div>
            </div>
        
        
        </section>
    
    
    
    
    </body>
    
    
</html>